<!DOCTYPE html>
html(lang="pt-br")
head
<!-- Caracteres especiais -->
meta(charset="utf-8")
<!-- Titulo -->
title Youtube to Mp3
<!--BootStrap CSS -->
link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
<!-- BootStrap JS -->
script(src='/bootstrap/dist/js/bootstrap.min.js')
script(src='/bootstrap/dist/js/jquery-3.3.1.slim.min.js')
head
body
 <!-- nav -->
 include nav.pug
 <!-- Objetivo -->
 block header
 <!-- Technologias -->
 block technologia
 <!-- Form de entrada -->
 block formEntradaConverter
