extends base.pug

block header

  <!-- Header -->
  header(class="masthead bg-primary text-white text-center",id="objetivo")
   div(class="container")
    hr
    hr
    h1(class="text-uppercase mb-0") Youtube to mp3
    hr
    h2(class="font-weight-light mb-0") Objetivo do Projeto
    p Objetivo unico de aprendizado/portfolio(Por isso o front-end simples!).O Youtube,contem regras a qual eu não pretendo quebrar.Curioso para saber como essas web application que faz a conversão do video do youtube para mp3 funciona,eu criei um para entender como funciona em seu back-end e com isso agregar mais conhecimento usando novas technologias.

block technologia

 <!-- technologia -->
 header(class="masthead bg-light text-white text-center",id="technologia")
  div(class="container")
  hr
  h1(class="text-uppercase mb-0 text-primary") Technologias
  hr
  h2(class="font-weight-light mb-0 text-primary") Utilizado no projeto
  hr
  h3(class="font-weight-light mb-0 text-primary") NodeJs
  p(class="text-primary") Technologia principal do projeto,responsavel por toda a funcionalidade do projeto.
  h3(class="font-weight-light mb-0 text-primary") Pug & BootStrap
  p(class="text-primary") Pug como intermediario entre o NodeJs e o html e BootStrap na criação do template.O uso de ambos para uma melhor produtividade e facilitar futuras manutenções.
  h3(class="font-weight-light mb-0 text-primary") Express FrameWork
  p(class="text-primary") Usado para obter o melhor desempenho do NodeJs
  h3(class="font-weight-light mb-0 text-primary") horizon-youtube-mp3
  p(class="text-primary") Usada para fazer o download e a conversão para o formato mp3

block formEntradaConverter

 <!-- Header -->
 header(class="masthead bg-primary text-white text-center")
  div(class="container",id="projeto")
   hr
   h1(class="text-uppercase mb-0") Projeto
   hr
   h2(class="font-weight-light mb-0") Info para download
   hr
   <!-- Form para entrada de dados do video e caminho de instalação-->
   form(action="/download-mp3",method="post")

    div(class="form-group")
     label(for="exampleInputEmail1") Url do video
     input(type="text",class="form-control",id="exampleInputUrlVideo",aria-describedby="emailHelp",placeholder="Url do video",name="urlVideo")
     
    div(class="form-group")
      label(for="exampleInputEmail1") Caminho onde salvar
      input(type="text",class="form-control",id="exampleInputWayFile",aria-describedby="emailHelp",placeholder="Caminho onde salvar o arquivo",name="wayFolder")

    hr

    div(class="form-group")
     button(type="submit" class="btn btn-light btn-lg btn-block") Youtube to Mp3

   hr
   hr
