<!-- nav -->
 nav(class="navbar navbar-expand-md navbar-dark fixed-top bg-dark")

  <!-- Logo -->
   a(class="navbar-brand",href="#") Youtube to Mp3

  <!-- div -->
   div(class="collapse navbar-collapse",id="navbarCollapse")
           <!-- menu -->
            ul(class="navbar-nav mr-auto")

             <!-- Objetivo -->
             li(class="nav-item active")
               a(class="nav-link",href="#objetivo") Objetivo
             <!-- Objetivo -->
             li(class="nav-item active")
               a(class="nav-link",href="#technologia") Technologia
             <!-- Objetivo -->
             li(class="nav-item active")
               a(class="nav-link",href="#projeto") Projeto
