<!-- nav -->
 nav(class="nav nav-pills nav-fill")

  <!-- menu -->
   ul(class="nav nav-pills nav-fill")

  <!-- home -->
    li(class="nav-item")
     a(class="nav-link",href="#") Home
    li

    <!-- Objetivo -->
    li(class="nav-item")
     a(class="nav-link active",href="#") Objetivo
    li

    <!-- Technologia -->
    li(class="nav-item")
     a(class="nav-link",href="#") Technologia
    li

     <!-- Projeto -->
    li(class="nav-item")
     a(class="nav-link active",href="#") Projeto
    li
