extends base.pug

block header

  <!-- Header -->
  header(class="masthead bg-success text-white text-center",id="objetivo")
   div(class="container")
    hr
    hr
    h1(class="text-uppercase mb-0") Download done with success!
    hr
    h2(class="font-weight-light mb-0") Objetivo do Projeto
    button teste